.area-wrap {
  max-height: 100px;
  overflow-y: auto;
}

.area-list-wrap {
  display: flex;
  align-items: center;
}

.mat-checkbox {
  color: rgba(0, 0, 0, .54);
  padding: 2px 10px 2px 2px;
}

.control {
  width: 100%;
}

.max-students, .area {
  width: 90%;
}

.mat-dialog-actions {
  justify-content: center;
}

.wrap {
  display: flex;
}

.mat-error {
  margin: 10px;
  text-align: center;
}
