<div class="nav-wrap">
  <mat-nav-list class="nav nav-left">
    <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a mat-list-item routerLink="/projects" routerLinkActive="active">Projects</a>
    <a mat-list-item routerLink="/stafflist" routerLinkActive="active">Staff</a>
  </mat-nav-list>
  <mat-nav-list class="nav nav-right">
    <a mat-list-item routerLink="/profile" routerLinkActive="active">Profile</a>
    <app-logout></app-logout>
    <!-- <a mat-list-item (click)="onLogOut()" routerLinkActive="active">Sign Out</a> -->
  </mat-nav-list>
</div>