<div style="height:50px;background-color:#0355A6"></div>
<img src="http://localhost:3000/images/exeter-logo.jpg" alt="University Logo" style="height:80px;margin:15px;">
<h2 style="color:#0355A6;margin-top:10px;margin:0px 5px;">Project Management System</h2>