<div class="container">

  <div class="logo">
    <img src="images/exeter-logo.jpg" alt="">
  </div>

  <div class="title">
    <h1>Suggested Projects</h1>
  </div>

  <div class="content">

    <div class="left">
      <mat-form-field>
        <mat-select placeholder="Browse by..." [(value)]="browseBy">
          <mat-option *ngFor="let item of values" [value]="item.value" (click)="onChange()">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="projects-list">
        <app-student-projects-list></app-student-projects-list>
      </div>
    </div>

    <div class="main">
      <div class="projects-table">
        <app-student-projects-table></app-student-projects-table>
      </div>
    </div>

  </div>

</div>