<h3 mat-dialog-title>{{project.name}}</h3>

<mat-dialog-content>
  <p>
    <span class="bold-text">Student:</span>
    {{project.studentName}}
  </p>
  <p id="supervisor">
    <span class="bold-text">Supervisor:</span>
    <span>{{project.staffName}}</span>
    <span>
      <mat-icon matTooltip="Edit" (click)="onEdit()">edit</mat-icon>
    </span>
  </p>
  <mat-form-field id="edit-dropdown">
    <mat-select [formControl]="editStaff">
      <mat-option *ngFor="let staff of staffList" [value]="staff.id">{{staff.firstname}} {{staff.surname}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p class="bold-text areas">Areas:</p>
  <p *ngFor="let area of project.areas" class="areas area">{{area}}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!buttonDisabled" (click)="confirmEdit()">Save</button>
  <button mat-button mat-dialog-close>Back</button>
</mat-dialog-actions>