<h3>A student has confirmed their final year project</h3>

<p style="margin:0px">
  <span style="font-weight:bold">Student: </span> {{student}}
</p>
<p style="margin:0px">
  <span style="font-weight:bold">Staff member: </span> {{staff}}
</p>
<p style="margin:0px">
  <span style="font-weight:bold">Project name: </span> {{project}}
</p>
<p>
  <a href="http://localhost:3000">Login to the system</a> to view information about this project.
</p>