<h4>Project request received</h4>

  <p style="margin:0px">
    <span style="font-weight:bold">Student: </span> {{student}}
  </p>
  <p style="margin:0px">
    <span style="font-weight:bold">Project name: </span> {{project}}
  </p>

  <p>Please
    <a href="http://emps-ugproj2-vm.ex.ac.uk:3000">login to the system</a> to respond to this request.
  </p>