<h3>Staff response received</h3>

<p>{{staff}} has {{response}} the supervision of your final-year project.</p>

<p>
  <a href="http://emps-ugproj2-vm.ex.ac.uk:3000">Login to the system</a> to manage your project.
</p>