<h4>Staff response received</h4>

<p>{{staff}} has {{response}} the supervision of your final-year project.</p>

<p>
  <a href="http://144.173.116.200:3000">Login to the system</a> to manage your project.
</p>