:host {
  width: 100%;
}

img {
  width: 300px;
}

.logo {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 300;
  color: #0355A6;
  margin-top: 10px;
}

h1 {
  font-size: 44px;
}

.title {
  text-align: center;
}

@media(max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
}

@media(max-width: 568px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  img {
    width: 200px;
  }
}

@media(min-width: 768px) {
  .auth-wrap {
    display: flex;
    justify-content: center;
  }
}

