<div class="content">

  <h2 *ngIf="projects">Confirmed Projects ({{ projects.length }})</h2>

  <h3 *ngIf="projects && projects.length === 0">You currently have no projects to supervise.</h3>

  <mat-accordion>
    <ng-container *ngFor="let project of projects; let i = index">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{ project.student.firstname }} {{ project.student.surname }}</p>
          </mat-panel-title>
          <mat-panel-description>
            <p>{{ project.name }}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p *ngIf="project.maxStudents" class="max-students">
          <span class="bold-text">Max Students:</span> {{ project.maxStudents }}
        </p>
        <p *ngIf="!project.maxStudents" class="max-students">
          <span class="bold-text">Max Students:</span> Unlimited
        </p>
        <p class="bold-text">{{project.name}}</p>
        <p>{{project.description}}</p>

      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>