:host {
  width: 100%;
}

.logo {
  margin-top: 20px;
  position: absolute;
  float: left;
  margin-left: 20px;
}

.title {
  display: flex;
  justify-content: center;
}

img {
  width: 225px;
  float: left;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px #0355A6 solid;
}

.contents {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 80%;
}

.desc {
  white-space: pre-line;
}

@media(max-width: 568px) {
  .contents {
    margin-top: 30px;
  }
}

@media(max-width: 868px) {
  .title {
    display: block;
    text-align: center;
  }
  .logo {
    text-align: center;
    position: relative;
  }
  .container {
    align-items: center;
  }
}