.bold-text {
  font-weight: bold;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

#edit-dropdown {
  display: none;
}

.mat-icon:hover {
  cursor: pointer;
}

.mat-raised-button {
  color: white;
}