<h1 mat-dialog-title>{{student.firstname}} {{student.surname}}</h1>

<mat-dialog-content>

  <ng-container *ngIf="student.projectname !== 'N/A'; else noProject">
    <p>
      <span class="bold-text">Project Name:</span>
      {{student.projectname}}
    </p>
    <p>
      <span class="bold-text">Confirmed:</span>
      <span>{{student.confirmed}}</span>
    </p>
    <p id="supervisor">
      <span class="bold-text">Supervisor:</span>
      <span>{{student.supervisor.firstname}} {{student.supervisor.surname}}</span>
      <span>
        <mat-icon matTooltip="Edit" (click)="onEdit()">edit</mat-icon>
      </span>
    </p>
    <mat-form-field id="edit-dropdown">
      <mat-select [formControl]="editStaff">
        <mat-option *ngFor="let staff of staffList" [value]="staff._id">{{staff.firstname}} {{staff.surname}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p class="bold-text">Description:</p>
    <p>{{student.projectDesc}}</p>
  </ng-container>

  <ng-template #noProject>
    <h3>This Student has not chosen a project yet.</h3>
  </ng-template>

</mat-dialog-content>

<mat-dialog-actions *ngIf="student.projectname !== 'N/A'">
  <button mat-raised-button color="primary" [disabled]="!buttonDisabled" (click)="confirmEdit()">Save</button>
  <button mat-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>