<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.firstname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.surname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="students">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Number of Students</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.noOfStudents}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></mat-row>

</mat-table>