.mat-table {
  overflow: auto;
  height: 100%;
  min-width: 300px;
  width: 100%;
  max-height: 550px;
}

.mat-row:hover {
  cursor: pointer;
}

.mat-row:hover>.mat-cell {
  color: #0355A6;
}

@media(max-width: 868px) {
  .mat-table {
    overflow: initial;
    max-height: initial;
  }
  .mat-cell {
    font-size: 12px;
    text-overflow: ellipsis;
    word-wrap: initial;
  }
}

@media(max-width: 568px) {
  .noOfStudents {
    text-align: center;
  }
  .mat-header-row, .mat-row {
    padding: 0px;
  }
}