.mat-table {
  min-width: 300px;
  width: 100%;
  max-height: 650px;
  overflow: auto;
}

.table-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-row:hover {
  cursor: pointer;
}

.mat-row:hover>.mat-cell {
  color: #0355A6;
}

h3 {
  text-align: center;
}

@media(max-width: 868px) {
  .mat-header-row, .mat-row {
    padding: 0px;
  }
  .mat-cell {
    font-size: 12px;
  }
  .mat-table {
    overflow: initial;
    max-height: initial;
  }
}