<div class="table-wrap">

  <div class="spinner-wrap" *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table [dataSource]="dataSource" matSort *ngIf="loaded && dataSource.filteredData.length !== 0">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="staff">
      <mat-header-cell *matHeaderCellDef> Staff </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.staff.firstname}} {{row.staff.surname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="areas">
      <mat-header-cell *matHeaderCellDef> Areas </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.areaString}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></mat-row>

  </mat-table>
  <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[10, 15, 20, 30]" *ngIf="loaded && dataSource.filteredData.length !== 0"></mat-paginator>
  <h3 *ngIf="loaded && dataSource.filteredData.length === 0">No Projects Available</h3>

</div>