:host {
  width: 100%;
}

.content {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.submit {
  color: white !important;
  font-weight: 400;
}

.submit-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.submit-messages p {
  text-align: center;
}

.area-wrap {
  max-height: 100px;
  overflow-y: auto;
}

.area-list-wrap {
  display: flex;
  align-items: center;
}

.success-div p {
  text-align: center;
}

.delete-button {
  margin-left: 20px;
}

.container {
  height: 100%;
  overflow-y: auto;
}

.mat-checkbox {
  color: rgba(0, 0, 0, .54);
  padding: 2px 10px 2px 2px;
}

.control {
  width: 700px;
}

.max-students, .area {
  width: 400px;
}

.submit {
  width: 200px;
}

@media(max-width: 768px) {
  .control {
    width: 500px;
  }
  .area {
    width: 450px;
  }
  .submit {
    width: 200px;
  }
  .area-wrap {
    max-width: 500px;
  }
}

@media(max-width: 568px) {
  .form {
    align-items: center;
  }
  .type {
    display: flex;
    flex-direction: column;
  }
  .content {
    margin-top: 30px;
  }
  .control {
    width: 300px;
  }
  .area {
    width: 250px;
  }
  .submit {
    width: 200px;
  }
  .area-wrap {
    max-width: 300px;
  }
}

@media(max-width: 868px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content {
    display: block;
    margin-top: 40px;
  }
}