:host {
    width: 100%;
}

.logo {
    margin-top: 20px;
    position: absolute;
    float: left;
    margin-left: 20px;
}

.title {
    display: flex;
    justify-content: center;
}

img {
    width: 225px;
    float: left;
}

.content {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.control {
  width: 700px;
}

.max-students, .area {
  width: 400px;
}

.submit {
  width: 200px;
  color: white !important;
  font-weight: 400;
}

.submit-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.submit-messages p {
  text-align: center;
}

.area-wrap {
  max-height: 120px;
  overflow-y: auto;
}

.area-list-wrap {
  display: flex;
  align-items: center;
}

.success-div p {
  text-align: center;
}

.delete-button {
  margin-left: 20px;
}

@media(max-width: 868px) {
  .title {
    display: block;
    text-align: center;
  }
  .logo {
    text-align: center;
    position: relative;
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}