.mat-table {
  overflow: auto;
  height: 100%;
  min-width: 300px;
  width: 100%;
  max-height: 550px;
}

.mat-row:hover {
  cursor: pointer;
}

.mat-row:hover>.mat-cell {
  color: #0355A6;
}

.radio-wrap {
  padding-left: 24px;
}

.mat-radio-button {
  padding: 0px 15px;
}

.mat-cell {
  padding: 0px 5px;
}

@media(max-width: 868px) {
  .mat-table {
    overflow: initial;
  }
  .mat-cell {
    font-size: 12px;
    text-overflow: ellipsis;
    word-wrap: initial;
  }
  .radio-wrap {
    padding: 0px;
    margin-top: 15px;
  }
  .mat-radio-group {
    display: flex;
    justify-content: center;
  }
  .show {
    display: none;
  }
}

@media(max-width: 568px) {
  .mat-header-row, .mat-row {
    padding: 0px;
  }
}