<div class="spinner-wrap" *ngIf="!loaded">
  <mat-spinner></mat-spinner>
</div>

<div class="radio-wrap" *ngIf="loaded">
  <span class="show">Show: </span>
  <mat-radio-group>
    <mat-radio-button (click)="changeFilter('')">All</mat-radio-button>
    <mat-radio-button (click)="changeFilter('Yes')" value="Yes">Confirmed</mat-radio-button>
    <mat-radio-button (click)="changeFilter('No')" value="No">Awaiting</mat-radio-button>
  </mat-radio-group>
</div>
<br>
<mat-table [dataSource]="dataSource" matSort *ngIf="loaded">

  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.firstname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.surname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="projectname">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.projectname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="supervisorName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Supervisor</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.supervisorName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="confirmed">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Confirmed?</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.confirmed}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></mat-row>

</mat-table>
<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator>