:host {
  width: 90%;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 20px 0px 20px 0px;
  border-bottom: solid 1px #0355A6;
}

.content {
  width: 80%;
}

p {
  white-space: pre-line;
}

.max-students {
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
}