.title {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px #0355A6 solid;
}

.content {
  margin-top: 0px;
}

.desc {
  white-space: pre-line;
}

.areas {
  margin-bottom: 5px;
}

.buttons-wrap {
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;
}

.buttons {
  display: flex;
}

h1 {
  font-size: 25px !important;
}

.error {
  text-align: center;
  margin-top: 10px;
}

@media(max-width: 568px) {
  .mat-error {
    font-size: 15px;
  }
}