<div class="container">

  <h1 mat-dialog-title>Choose this Project?</h1>

  <mat-dialog-content>
    <div class="wrap">
      <p class="title">Project Type</p>
      <p class="content">{{ project.type }}</p>
    </div>
    <div class="wrap">
      <p class="title">Project Name</p>
      <p class="content">{{ project.name }}</p>
    </div>
    <div class="wrap">
      <p class="title">Staff Member</p>
      <p class="content">{{ project.staffName }}</p>
    </div>
    <div class="wrap desc">
      <p class="title">Description</p>
      <p class="content">{{ project.description }}</p>
    </div>
    <div class="wrap">
      <p class="title">Areas of Research</p>
      <p class="content areas" *ngIf="project.areas.length === 0;else elseBlock">None Specified</p>
      <ng-template #elseBlock>
        <p class="content areas" *ngFor="let area of project.areas">{{ area }}</p>
      </ng-template>
    </div>
  </mat-dialog-content>

  <div class="buttons-wrap" mat-dialog-actions>
    <div class="buttons">
      <!-- <button [disabled]="projectChosen" mat-button (click)="onContinue()">Continue</button> -->
      <button mat-button (click)="onContinue()">Continue</button>
      <button mat-button mat-dialog-close>Back</button>
    </div>
    <div *ngIf="projectChosen" class="error">
      <mat-error>You have already chosen a project.</mat-error>
    </div>
  </div>

</div>