:host {
    width: 100%;
  }
  
  img {
    width: 300px;
  }
  
  .logo {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .contents {
    margin-top: 30px;
  }
  
  .contents p {
    color: #1872cc;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }
  
  .inner-contents {
    margin-top: 50px;
    display: flex;
    flex: 1;
  }
  
  .detail {
    width: 170px;
    margin: auto;
    text-align: start;
    font-size: 16px !important;
    color: grey !important;
  }
  
  .in p {
    font-size: 22px;
  }
  
  .in {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  @media(max-width: 568px) {
    .inner-contents {
      display: block;
      margin-top: 30px;
    }
  
    .contents p {
      font-size: 16px;
    }
  
    .in {
      margin-top: 40px;
    }
  
    .in p {
      font-size: 16px;
    }
  }
  
  .button-div:hover {
    cursor: pointer;
  }
  
  
  
  