.nav {
  padding: 0px !important;
}

.nav-wrap {
  height: 100%;
}

.nav-button {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

i:hover {
  cursor: pointer;
}

.nav-list {
  height: 100%;
}

@media(min-width: 568px) {
  .nav {
    display: flex !important;
  }
  .nav-wrap {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .nav-list a {
    width: 100px !important;
  }
  .nav-list {
    display: flex !important;
    flex: 1;
  }
  .nav-button {
    display: none;
  }
  .mat-list-item {
    height: 100% !important;
  }
  .active {
    height: 56px !important;
    border-bottom: 4px solid white;
  }
}

.nav-left {
  flex: 1;
}

.nav-list a {
  color: white !important;
  font-size: 14px !important;
}

.nav-list a:focus {
  background-color: #0355A6 !important;
}

.nav-list a>div {
  height: 60px !important;
  justify-content: center;
}

@media(max-width: 568px) {
  .nav-list {
    padding-bottom: 10px;
  }
}