@import "./angular-material-colour-scheme.css";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.inner {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}