@import "./angular-material-colour-scheme.css";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-weight: 300;
  font-size: 44px;
  color: #0355A6;
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  color: #0355A6;
}

@media(max-width: 568px) {
  h1 {
    font-size: 25px;
  }

  img {
    width: 175px !important;
  }

  h3 {
    font-size: 18px;
  }
}

.app-container {
  min-height: 100%;
  position: relative;
}

.bar {
  background-color: #0355A6;
  width: 100%;
  min-height: 60px;
}

@media(min-width: 568px) {
  .bar {
    height: 60px;
  }
  .app-container {
    height: 100%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
}