@import "./angular-material-colour-scheme.css";
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
  color: #0355A6;
}

h1 {
  font-size: 44px;
  margin-top: 10px;
  margin-bottom: 5px;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
}

.mat-nav-list a>div {
  height: 60px !important;
  justify-content: center !important;
}

@media(max-width: 568px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }
  img {
    width: 175px !important;
  }
  .app-container {
    display: flex;
    flex-direction: column;
  }
  .app-main {
    margin-bottom: 20px;
  }
}

.app-container {
  min-height: 100%;
  position: relative;
}

.bar {
  background-color: #0355A6;
  width: 100%;
  min-height: 60px;
}

@media(min-width: 568px) {
  .bar {
    height: 60px;
  }
  .app-container {
    display: flex;
    flex-direction: column;
  }
  .app-main {
    height: calc(100% - 120px);
  }
}

.footer {
  height: 60px;
}

.app-main {
  display: flex;
  justify-content: center;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  flex: 1;
}