:host {
  flex: 1;
  padding: 20px 0px 20px 0px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #0355A6;
  border-top: solid 1px #0355A6;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.add-input {
  width: 400px;
}

.mat-form-field {
  width: 300px;
}

.areas-wrap {
  display: flex;
  justify-content: center;
}

ol {
  margin-top: 0px;
  padding-left: 25px;
  font-weight: 300;
}

li {
  font-size: 20px;
  padding: 3px;
}

.mat-icon:hover {
  cursor: pointer;
}

.contents-wrap {
  display: flex;
  flex-direction: column;
}

@media(max-width: 568px) {
  .edit-button {
    display: block !important;
  }
  .mat-icon {
    display: none
  }
}