ul {
  list-style-type: none;
  padding: 0px;
}

li {
  padding: 0px 10px 25px 10px;
}

li:hover {
  cursor: pointer;
  color: #0355A6;
}

li:active {
  color: #0355A6;
}

.list-dropdown-wrap {
  display: none;
}

@media(max-width: 868px) {
  .browse-list {
    display: none;
  }
  .list-dropdown-wrap {
    display: block;
  }
}