<h1 mat-dialog-title>{{staff.firstname}} {{staff.surname}}</h1>

<mat-dialog-content>
  <mat-accordion *ngIf="staff.projects.length !== 0; else noProjects">
    <mat-expansion-panel *ngFor="let project of staff.projects">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>{{project.studentName}}</p>
        </mat-panel-title>
        <mat-panel-description>
          <p>{{project.name}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <span class="bold-text">Confirmed:</span>
        <span *ngIf="project.confirmed">Yes</span>
        <span *ngIf="!project.confirmed">No</span>
      </p>
      <p class="bold-text">Description:</p>
      <p class="desc">{{project.description}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <ng-template #noProjects>
    <h3>This staff member does not have any students yet.</h3>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>