.mat-dialog-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold-text {
  font-weight: bold;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.desc {
  white-space: pre-line;
}

@media(max-width: 668px) {
  .mat-expansion-panel-header {
    overflow: hidden;
  }
  .mat-expansion-panel-header-title {
    overflow: hidden;
  }
  .mat-expansion-panel-header-description {
    display: none;
  }
  .mat-expansion-panel-header-title p {
    width: 100%;
    text-align: center;
  }
}